body, html
{
    margin: 0 0;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: white;
    background-color: #2a2a2a;
}
p.title
{
    font-weight: 500;
    font-size: 20px;
}
#main
{
    position: relative;
    background-color: #2a2a2a;
    width: 100%;
    height: 100%;
}
#menuTable
{
    width: 80%;
    position: relative;
    margin: 10px auto;
}
#bigWrapper
{
    position: relative;
    background-color: #2a2a2a;
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#content
{
    position: relative;
    float: left;
    background-color: aliceblue;
    height: auto;
    width: 80%;
    margin-left: 280px;
    min-width: 400px;
    min-height: 100vh;
}
#filters
{
    position: fixed;
    float: left;
    background-color: #6a6a6a;
    width: 280px;
    height: 100%;
}
#menuBar
{
    position: relative;
    height: auto;
    background-color: #2a2a2a;
    margin: 0 20px;
}
.me
{
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    background-color: #dfe1e1;
    margin: 20px;
    text-align: center;
    padding: 0;
}
.imageWrapper
{
    position: relative;
    width: 100%;
    height: 60%;
    background-color: #dfe1e1;
    top: 0;
    overflow: hidden;
}
.textWrapper
{
    position: relative;
    width: 100%;
    height: 30%;
    background-color: inherit;
    font-size: 12px;
    color: #595959;
    bottom: 0;
    line-height: 80%;
}
.prodImg
{
    width: 100%;
    height: auto;
}
input
{
    height: 120%;
    width: 120%;
    border: solid black 1px;
}